extends layout_account

block content
	input(type = 'hidden',value = '#{locals.udata.User_ID}')#userId
	body#account-body
	// Header Content //
	header(class="navbar navbar-inverse navbar-fixed-top")
		.navbar-inner
			.container
				a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
					a(class="brand", href="/") 
						| SmartClickR
						span  alpha
				div(class="nav-collapse in collapse")
					ul(class="nav pull-right")
						li(class="active")
							a(id="home", href="/") Home
						li
							a(id='account', href='/user/edit/#{locals.udata.User_ID}') Account
						li
							a(id='help', href='help-center') Help Center
						li
							a(id='logout',href='/logout') Log Out
		
	#acct-hero
		.container
			.row-fluid
				.span8.offset2
					h1.title Your Account
			.clear.dropshadow
	section#settings-container.container
		.row-fluid
			.span8.offset2
				#settings-content
					article#settings_main
		
						form(id='accountPasswordForm', method='post', action='/user/edit/#{locals.udata.User_ID}')
							fieldset
								span.field
									label(id="passwordChangeLabel", for='currentPassword', class='form-text') Password
									input(id='currentPassword', type='password', class='input-block-level', name='currentPassword', title='Current Password', placeholder='Current Password',  autocomplete='off')
									.clear
			
									input(id='newPassword', type='password', class='input-block-level', name='NewPassword', title='New Password', placeholder='New Password', autocomplete='off')
									.clear

									input(id='reNewPassword', type='password', name='reNewPassword', class='input-block-level', title='Re-Enter New Password', placeholder='Re-Enter Password',  autocomplete='off')
									.clear
							fieldset.form-action
								input(id='changePasswordBtn', type='submit', class="btn btn-info btn-large", value='Save your Password')

							hr
<<<<<<< HEAD
						div#deleteActions
						form(id='deleteAccount', method='post', action='/user/delete/#{locals.udata.User_ID}')								
						div#deleteActions
=======

						div#deleteActions
						form(id='deleteAccount', method='post', action='/user/delete/#{locals.udata.User_ID}')
>>>>>>> 8108b3345f9004765b6015fb8d01edb664500c86
							fieldset
								span.field
									fieldset.form-action
										h2 Not satisfied with SmartClickR? 
										button(id='deleteAccountBtn',href="#deleteAcctConfirm", role="button", class="button red", data-toggle="modal") Delete your Account
										p This will delete your account and all the polls associated with your account. This action cannot be undone

										// Delete Account Modal //
										div(id="deleteAcctConfirm", class="modal hide fade", tabindex="-1", role="dialog", aria-labellby="deleteAcctLabel", aria-hidden="true", style="text-align: left")
											form(id="deleteAcct")
												div(class="modal-header")
													button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
													h5(id="deleteConfirmLabel") Are you sure you want to delete your account?
													p This will remove your account and all polls associated with your account
												div(class="modal-body")
													p To confirm please type 'DELETE' in the field below
													input(id="typeDelete", type="text")
												div(class="modal-footer")
													button(class="btn", data-dismiss="modal", aria-hidden="true") Cancel
													button(formmethod='POST', formaction='user/ ', type='submit', class='btn btn-medium btn-danger') Delete

	script(src="/javascript/views/settings.js")
	script(src="http://malsup.github.com/jquery.form.js")








