extends layout

block content

	- user = typeof(locals.udata) != 'undefined' ? locals.udata : {}
	input(type = 'hidden',value = user.User_ID)#userId
	//- input(type = 'hidden',value = '')#sessionCode
	//- input(type = 'hidden',value = '')#pollId

	body#create_poll_body
		header(class="navbar navbar-inverse navbar-fixed-top")
			.navbar-inner
				.container
					a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="brand", href="/user/#{locals.udata.User_ID}") 
						| SmartClickR
						span  alpha
					div(class="nav-collapse in collapse")
						ul(class="nav pull-right")
							li(class="active")
								a(id="home", href="/user/#{locals.udata.User_ID}") Home
							li
								a(id='account', href='/user/edit/#{locals.udata.User_ID}') Account
							li
								a(id='help', href='help-center') Help Center
							li
								a(id='logout',href='/logout') Log Out
		.clear


		section#content_container
			.row
				.twelve.columns	
					section#create_content.twelve.columns.dropshadow
						section#poll_info
							fieldset.twelve.columns
								label(id="pollNameLabel",for="pollName") Poll Title  (required)
								input(type="text", id="pollName", name="pollName", value="#{locals.pdata.PollName}")
							fieldset.twelve.columns
								label(for="pollDescription") Poll Description
								textarea(id="pollDescription", name="pollDescription") #{locals.pdata.PollDescription}
							hr
						section#question_container.animated.fadeInDown
						form
							include modals/poll-types
							section.create_actions
								input(type="button", id="createPollBtn", class="red button", value='Add a Question') 
								input(type="submit", id="save_quitBtn", class="red button", value='Save and Quit', onsubmit="Saving...") 
						.clear
			hr
		footer#create_footer
			.row
				.twelve.columns
					section(style='height:200px')
			hr
	script(src="/javascript/views/create-poll.js")
	script(src="/jquery.ui.effect-blind.js")
	script(src="/jquery-ui-1.9.2.custom.min.js")