extends layout_edit

block content

	- user = typeof(locals.udata) != 'undefined' ? locals.udata : {}
	input(type = 'hidden',value = user.User_ID)#userId
	input(type = 'hidden',value = '#{locals.pdata.SessionCode}')#sessionCode
	input(type = 'hidden',value = '#{locals.pdata.Poll_ID}')#pollId
	input(type = 'hidden',value = '#{locals.qdata.length + 1}')#counter

	body
		// Header Content //
		header(class="navbar navbar-inverse navbar-fixed-top")
			.navbar-inner
				.container
					a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="brand", href="/") 
						| SmartClickR
						span  alpha
					div(class="nav-collapse in collapse")
						ul(class="nav pull-right")
							li(class="active")
								a(id="home", href="/") Home
							li
								a(id='account', href='/user/edit/#{locals.udata.User_ID}') Account
							li
								a(id='help', href='help-center') Help Center
							li
								a(id='logout',href='/logout') Log Out
		.clear
		article#user_hero
			.container
				.row
					section#edit_title.span12
						h2 Edit Your Poll
					.clear

		hr
		section#content_container
			.container
				.row-fluid
					.span12
						section#edit_content.dropshadow
							section#poll_info
								fieldset
									label(id="pollNameLabel",for="pollName") Poll Title  (required)
									input(type="text", id="pollName", name="pollName", class="", value='#{locals.pdata.PollName}')
								fieldset
									label(for="pollDescription") Poll Description
									textarea(id="pollDescription", name="pollDescription") #{locals.pdata.PollDescription}
								hr
							section#question_container
								each question, i in locals.qdata
									if question.AnswerType == "MultipleChoice"
										article(class='question_wrap clearfix', id='multipleChoice_question#{question.QuestionsOrder}')
											input(type='hidden', value='#{question.Question_ID}').questionID
											h3 Multiple Choice
											textarea(class='textarea_small') #{question.Stem}
											.top-pad
											fieldset.span6
												span a)
												input(type='hidden', class='choice_id', value='#{question.Choices[0].Choice_ID}')
												input(type='text', class='mc_response', name='question-1_order#{question.QuestionsOrder}', value='#{question.Choices[0].Content}')
												.clear
												label.radio Correct Answer 
													input(type='radio', name='correct_answer')
											fieldset.span6
												span b)
												input(type='hidden', class='choice_id', value='#{question.Choices[1].Choice_ID}')
												input(type='text', class='mc_response', name='question-2_order#{question.QuestionsOrder}', value='#{question.Choices[1].Content}')
												.clear
												label.radio Correct Answer
													input(type='radio', name='correct_anwer')
											fieldset.span6
												span c)
												input(type='hidden', class='choice_id', value='#{question.Choices[2].Choice_ID}')
												input(type='text', class='mc_response', name='question-3_order#{question.QuestionsOrder}', value='#{question.Choices[2].Content}')
												.clear
												label.radio Correct Answer
													input(type='radio', name='correct_anwer')
											fieldset.span6
												span d)
												input(type='hidden', class='choice_id', value='#{question.Choices[3].Choice_ID}')
												input(type='text', class='mc_response', name='question-3_order#{question.QuestionsOrder}', value='#{question.Choices[3].Content}')
												.clear
												label.radio Correct Answer
													input(type='radio', name='correct_anwer')	
									else if question.AnswerType == "TrueFalse"	
										article(class='question_wrap clearfix', id='trueFalse_question#{question.QuestionsOrder}')
											input(type='hidden', value='#{question.Question_ID}').questionID
											if question.Choices.length > 0
												input(type='hidden', class='choice_id', value='#{question.Choices[0].Choice_ID}')
											h3 True/False
											textarea(class='textarea_small') #{question.Stem}	
											.top-pad
											fieldset.span4
												label.radio True
													if question.Choices.length > 0 && question.Choices[0].IsCorrectChoice == "T"
														input(type='radio', name='correct_answer#{question.QuestionsOrder}', checked="checked")	
													else
														input(type='radio', name='correct_answer#{question.QuestionsOrder}')
											fieldset.span4
												label.radio False
													if question.Choices.length > 0 && question.Choices[0].IsCorrectChoice == "F"
														input(type='radio', name='correct_answer#{question.QuestionsOrder}', checked="checked")	
													else
														input(type='radio', name='correct_answer#{question.QuestionsOrder}')
											fieldset.span4
												label.radio No correct answer
													if question.Choices.length == 0
														input(type='radio', name='correct_answer#{question.QuestionsOrder}', checked="checked")	
													else
														input(type='radio', name='correct_answer#{question.QuestionsOrder}')
									else if question.AnswerType == "FreeResponse"
										article(class='question_wrap clearfix', id='freeResponse_question#{question.QuestionsOrder}')
											input(type='hidden', value='#{question.Question_ID}').questionID
											h3 Free Response
											fieldset
												textarea(class='fr_response', name='question-#{question.QuestionsOrder}', cols='30', rows='5') #{question.Stem}
											hr
									else if question.AnswerType == "Numeric"
										article(class='question_wrap clearfix', id='numeric_question#{question.QuestionsOrder}')
											input(type='hidden', value='#{question.Question_ID}').questionID
											h3 Numeric Free Response
											fieldset
												textarea(class='numeric', name='question-#{question.QuestionsOrder}', cols='30', rows='5') #{question.Stem}
											hr

							//include modals/poll-types
							section.create_actions
								div(id="sub-actions")
									.btn-group
										a(id="addQuestion",class="btn btn-info btn-medium dropdown-toggle", data-toggle="dropdown", href="#") Add Question
											span.caret
										ul(class="dropdown-menu", role="menu", aria-labelledby="dropdownMenu")
											li
												a(class="", id="multipleChoiceBtn", value="Multiple Choice") Multiple Choice
											li
												a(class="", id="trueFalseBtn", value="True or False") True or False
											li
												a(class="", id="freeResponseBtn", value="Text Response") Text Response
											li
												a(class="", id="freeResponseNumericBtn", value="Numeric Response") Numeric Response

									input(type="submit", id="save_quitBtn", class="btn btn-mediun btn-info", value='Save and Quit', onsubmit="Saving...") 
								.clear
			hr
		include extra/footer-main
			
	script(src="/javascript/views/edit-poll.js")	
	script(src="/jquery.ui.effect-blind.js")
	script(src="/jquery-ui-1.9.2.custom.min.js")

				