extends layout_present

- user = typeof(udata) != 'undefined' ? udata : {}
input(type = 'hidden',value = user._id)#userId

block content
	body#landing-page
		// Header Content //
		header(class="navbar navbar-inverse navbar-fixed-top")
			.navbar-inner
				.container
					a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="brand", href="/") 
						| SmartClickR
						span  alpha
					div(class="nav-collapse")
						ul(class="nav pull-right")
							li(class="active")
								a(id="home", href="/") Home
		.clear
		#landing-pad.hidden-phone
		#landing-container
			.container		
				.row-fluid					
					#hero_content.present-content
						h3 Question# #{locals.qdata[0].QuestionsOrder}
						h2 #{locals.qdata[0].Stem}
						article#graph-display.clearfix
					#present-actions
<<<<<<< HEAD
						ul.pager.span4.offset4
							if locals.qdata[0].Question_ID != locals.QuestionIDs[0]
								li.previous
									a(id='starting-question', href='/user/#{locals.udata}/poll/#{locals.pdata}/question/present/#{locals.QuestionIDs[locals.qdata[0].QuestionsOrder - 2]}', class="") &larr; Previous
								li.next
									a(id='starting-question', href='/user/#{locals.udata}/poll/#{locals.pdata}/question/present/#{locals.QuestionIDs[locals.qdata[0].QuestionsOrder]}', class="") Next &rarr;
							
							else if locals.qdata[0].Question_ID == locals.QuestionIDs[locals.QuestionIDs.length - 1]
								a(id='starting-question', href='/user/#{locals.udata}/poll/#{locals.pdata}/present/final', class="btn btn-success btn-large") Completed
							else
								li.previous
									a(id='starting-question', href='#', class="disabled")&larr; Previous
								li.next
									a(id='starting-question', href='/user/#{locals.udata}/poll/#{locals.pdata}/question/present/#{locals.QuestionIDs[locals.qdata[0].QuestionsOrder]}', class="") Next &rarr;
=======
						.span6.offset3
							if locals.qdata[0].Question_ID == locals.QuestionIDs[locals.QuestionIDs.length - 1]
								a(id='last-question', href='/user/#{locals.udata}/poll/#{locals.pdata}/present/final', class="btn btn-success btn-large") Completed
							else if locals.qdata[0].Question_ID != locals.QuestionIDs[0]
								a(id='previous-question', href='/user/#{locals.udata}/poll/#{locals.pdata}/question/present/#{locals.QuestionIDs[locals.qdata[0].QuestionsOrder - 2]}', class="btn btn-success btn-large") Previous
								a(id='next-question', href='/user/#{locals.udata}/poll/#{locals.pdata}/question/present/#{locals.QuestionIDs[locals.qdata[0].QuestionsOrder]}', class="btn btn-success btn-large") Next
							else if locals.qdata[0].Question_ID == locals.QuestionIDs[0]
								a(id='next-question', href='/user/#{locals.udata}/poll/#{locals.pdata}/question/present/#{locals.QuestionIDs[locals.qdata[0].QuestionsOrder]}', class="btn btn-success btn-large") Next
							

>>>>>>> e0a2474a6ff92ac5b34bd8da3d7cd089379c889d

	script
		var dataPath = '/user/' + #{locals.udata} + '/poll/' + #{locals.pdata} + '/question/' + #{locals.qdata[0].Question_ID} + '.json';
		
		//- d3.json(dataPath, function(json) {
		//- 	console.log(dataPath);
		//- 	console.log(json); 
		//- 	verticalBars(json, dataPath); 
		//- });

		d3.json(dataPath, function(json) {
			pieChart(json, dataPath);
		});

