extends layout_landing


block content
	body#landing-page
		// Header Content //
		header(class="navbar navbar-inverse navbar-fixed-top")
			.navbar-inner
				.container
					a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="brand", href="/") SmartClickR
					div(class="nav-collapse", style="height:auto;")
						ul(class="nav pull-right")
							li(class="active")
								a(id="home", href="/") Home
							li
								a(id='signup', href='/user/create') Sign Up
							li
								a(id='log', href='/login') Log In
		.clear
		#landing-pad.hidden-phone
		#landing-container
			.container
				.row-fluid
					.span12
						#hero
							#hero_content.span6.offset3
								h4#question-number Question #{locals.qdata[0].QuestionsOrder}
								h3#question-content #{locals.qdata[0].Stem}
								form(method='POST', action='/poll/#{locals.session}/question/#{locals.qdata[0].Question_ID}')
									case locals.qdata[0].AnswerType
										when "MultipleChoice"
											for choice in locals.qdata[0].Choices
												fieldset
													input(type='radio', value='#{choice.Content}', name='response', class='mc_response')
													span  #{choice.ChoiceOrder}) #{choice.Content}
										when "TrueFalse"
											fieldset.span4
												input(type='radio', value='True', name='response', class='tf_response')
												span   True
											fieldset.span4
												input(type='radio', value='False', name='response', class='tf_response')
												span   False
										when "FreeResponse"
											textarea(class='f_response', name='response',cols='80', rows='5', placeholder='Type in your response')#freeresponse 
										when "Numeric"
											textarea(class='n_response', name='response', cols='80', rows='5', placeholder='Type in your response')#numericresponse 
									input(type='submit', id='#{locals.qdata[0].AnswerType}_response', value='Next Question')
							

