extends layout_landing


block content
	body#landing-page
		// Header Content //
		#landing-pad.hidden-phone
		#landing-container
			.container
				.row-fluid
					.span12
						#hero
							#hero_content_response.span6.offset3
								span#question-wrap.span12
									h4#question-number Question #{locals.qdata[0].QuestionsOrder}
									h3#question-content #{locals.qdata[0].Stem}
								.clear
								form(id="response-form",method='POST', action='/poll/#{locals.session}/question/#{locals.qdata[0].Question_ID}', class="clearfix")
									case locals.qdata[0].AnswerType
										when "MultipleChoice"
											for choice in locals.qdata[0].Choices
												div#mc-container.span12.no-margin
													label.radio.inline
														input(type='radio', value='#{choice.Content}', name='response', class='mc_response')
														| #{choice.ChoiceOrder}) #{choice.Content}
										when "TrueFalse"
											div#tf-container.span7.no-margin
												label(class="radio", for="true")
													input(id="true" ,type='radio', value='True', name='response', class='tf_response') 
													| True
												label(class="radio", for="false")
													input(id="false",type='radio', value='False', name='response', class='tf_response') 
													| False
										when "FreeResponse"
											div#free-container
												textarea(class='f_response span12', name='response', placeholder='Type in your response')#freeresponse
												script 
													$(".f_response").focus();
										when "Numeric"
											div#num-container
												textarea(class='n_response span12', name='response', placeholder='Type in your response')#numericresponse
												script
													$(".n_response").focus();
									div#next.span12
										input(type='submit', id='#{locals.qdata[0].AnswerType}_response', value='Next Question &rarr;', class="btn btn-large btn-info")
										//span Question #{locals.qdata[0].QuestionsOrder} of #{locals.qdata[0].QuestionOrder.length-1});
	script(src="/javascript/randomBackground.js")
	script(src="/javascript/views/response.min.js")
	

